html,body {
    height: 100vh;
    margin: 0;
    font-size: 12px;
    font-family: -apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif;
    line-height: 1.2;
    color: #333;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    background: #fff;
}
#root {
    height: 100%;
}
#root >div {
    height: 100%;
    display: flex;
    flex-direction: column;
}